// colours
$color-primary-base:  #247ba0;
$color-primary-dark:  adjust-hue(darken($color-primary-base, 20%),  5deg);
$color-primary-light: adjust-hue(lighten($color-primary-base, 30%), -5deg);

$color-black: #011627;
$color-white: #f2fafc;

$color-body-bg:       $color-white;
$color-text-base:     $color-black;

// fonts
$font-heavy:           'OxygenBold';
$font-regular:         'OxygenRegular';
$font-light:           'OxygenLight';
